@import '~stylekit';
@import "mq";

#filesafe-embed {
  font-size: var(--sn-stylekit-base-font-size);
  line-height: 1;

  &.highlight {
    // Adding it to filesafe-embed creates border with distorted solid (non-dashed) bg for some reason
    #home {
      border: 2px dashed var(--sn-stylekit-info-color);
    }
  }

  a {
    cursor: pointer;
  }

  .sn-component {
    font-size: var(--sn-stylekit-base-font-size) !important;
    user-select: auto !important;

    .sk-panel .sk-panel-content {
      padding-top: 6px !important;
      height: inherit !important;

      p {
        color: inherit;
      }
    }

    .sk-panel-section:first-child {
      padding-bottom: 1.3rem;
      margin-bottom: 0 !important;
    }

    .sk-panel-section:not(:first-child) {
      padding-top: 0.7rem;
      padding-bottom: 1.3rem;
      margin-bottom: 0 !important;
    }

    .sk-button-group .sk-button {
      vertical-align: middle;
    }

    .sk-button.no-border {
      border: none;
    }

    .sk-button {
      user-select: none;
    }

    .sk-horizontal-group.top {
      > * {
        vertical-align: top;
      }

      .sk-panel-row:first-child {
        padding-top: 0;
        // padding-bottom: 0;
      }
    }

    .sk-horizontal-group .sk-panel-section-title {
      margin-bottom: 0;
    }

    .sk-circle.x-small, .sk-spinner.x-small {
      width: 7px;
      height: 7px;
    }

    label.no-style {
      margin: 0;
      font-size: inherit;
    }
  }

  .bold {
    font-weight: bold;
  }

  .faded {
    opacity: 0.5;
  }

  .list-container {
    // padding-left: 25px;
    margin-top: 10px;

    .list-item .sk-circle {
      margin-top: 2px;
    }

    .list-item:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  #messages-container {
    width: 100%;
    margin-bottom: 14px !important;
  }

  #messages {
    width: 100%;

    .title {
      font-weight: bold;
      font-size: var(--sn-stylekit-font-size-h4);
      margin-bottom: 12px;
    }

    ul {
      margin: 0;
      margin-top: 6px;
      padding-left: 0px;
      list-style-position: inside;

      li {
        line-height: 1.4;
        font-weight: 500;

        &:not(last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  #attach-file-button-label {
    color: var(--sn-stylekit-info-contrast-color);
  }

  .files-view {
    margin-top: 3px;

    #add-file-button-container {
      margin-right: 18px;
      margin-bottom: 8px;
    }

    #file-upload-status {
      margin-right: 30px;
      margin-bottom: 18px;
      padding-top: 4px;
    }

    .file-download-status {
      margin-top: 10px;
      margin-bottom: 0px;
      .sk-spinner  {
        border-color: var(--sn-stylekit-info-contrast-color);
        border-right-color: transparent; // required
      }

      .file-status-label {
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }

    .segmented-buttons {
      margin-right: 10px;
    }

    .files {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .sk-button {
        // So that file boxes dont scroll overflow. It will just occupy more vertical space to fit.
        white-space: normal;
        word-break: break-all;
      }

      .file-item-container {
        margin-right: 5px;

        &.expanded {
          flex-wrap: wrap;
          margin-bottom: 10px;
        }
      }

      .file-item-button {
        border: none;
        margin-right: 5px;

        &:not(.selected) {
          margin-bottom: 10px;
        }

        &.selected {
          @extend .sk-button.info:hover;
          margin-right: 0px;
          padding: 12px;
          border-radius: 3px;
        }
      }

      .file-item-options-wrapper {
        display: inline-block;

        .file-location {
          opacity: 0.7;
          font-size: 0.7rem;
          margin-top: 9px;
        }
      }

      .sk-app-bar.file-item-options {
        width: fit-content;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1rem;

        .center {
          display: flex;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
        }

        .disabled {
          opacity: 0.5;
        }

        .sk-button {
          border-radius: 0;
        }
      }

    }
  }
}
